<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Inicio CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">

    <!-- Fim CSS -->

    <!-- Inicio JS -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.min.js"></script>
    <script src="node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>

    <script src="app/config/pd-app.js"></script>
    <script src="app/config/pd-rotas-config.js"></script>
    <script src="app/service/alert.service.js"></script>
    <script src="app/filter/maiusculo.filter.js"></script>
    <script src="app/controller/cadastro-bairro.controller.js"></script>
</head>
<body ng-app="pdApp" class="container">

    <div ng-controller="CadastroBairroController">

        <form novalidate name="bairroForm" autocomplete="off">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cadastro de bairro
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group" ng-class="{'has-error' : !bairroForm.nome.$pristine && bairroForm.nome.$invalid}">
                                <label class="control-label" for="nome">Nome do bairro</label>
                                <input type="text"
                                       ng-model="entidade.nome"
                                       class="form-control"
                                       ng-required="true"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                       name="nome"
                                       id="nome"
                                       autofocus />
                                <div ng-messages="bairroForm.nome.$error" ng-if="!bairroForm.nome.$pristine" class="text-danger">
                                    <div ng-messages-include="app/template/input-ng-messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" ng-class="{'has-error' : !bairroForm.cidade.$pristine && bairroForm.cidade.$invalid}">
                                <label class="control-label" for="cidade">Cidade</label>
                                <input type="text"
                                       ng-model="entidade.cidade"
                                       class="form-control"
                                       ng-required="true"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                       name="cidade"
                                       id="cidade"
                                       autofocus />
                                <div ng-messages="bairroForm.cidade.$error" ng-if="!bairroForm.cidade.$pristine" class="text-danger">
                                    <div ng-messages-include="app/template/input-ng-messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group" ng-class="{'has-error' : !bairroForm.estado.$pristine && bairroForm.estado.$invalid}">
                                <label class="control-label" for="nome">Estado</label>
                                <input type="text"
                                       ng-model="entidade.estado"
                                       class="form-control"
                                       ng-required="true"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                       name="estado"
                                       id="estado"
                                       autofocus />
                                <div ng-messages="bairroForm.estado.$error" ng-if="!bairroForm.estado.$pristine" class="text-danger">
                                    <div ng-messages-include="app/template/input-ng-messages.html"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div ui-grid="gridOptions"></div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary navbar-btn" ng-click="salvar()">
                        <i class="fa fa-floppy-o"></i>
                        Salvar
                    </button>
                    <button class="btn btn-warning navbar-btn" ng-click="limpar()">
                        <i class="fa fa-eraser"></i> Limpar</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>