<div>
    <form novalidate name="{{formName}}" autocomplete="off">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span ng-bind="titulo" class="pd-crud-titulo"></span>
            </div>
            <div class="panel-body">
                <ng-transclude></ng-transclude>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary navbar-btn" ng-click="salvar()">
                    <i class="fa fa-floppy-o"></i>
                    Salvar
                </button>
                <button class="btn btn-warning navbar-btn" ng-click="limpar()">
                    <i class="fa fa-eraser"></i>
                    Limpar
                </button>
                <button class="btn btn-danger navbar-btn" ng-click="excluir()" ng-if="exibirBotaoExcluir !== false">
                    <i class="fa fa-trash"></i>
                    Excluir
                </button>
            </div>
        </div>
    </form>
</div>